.container{
    width: 100vw;
    background-color: #EAB543;
    height: 100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    height: 20px;
    font-size: 14px;
}
.Form{
    background-color: #ffda79;
    width: 40vw;
    padding: 4%;
    border-radius:10px;
    box-shadow: 1px 1px 4px 2px rgb(92, 86, 86) ;

}
.form-row{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.form-row input{
    height:25px ;
    width: 15vw;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
}
label{
    margin-right: 100px;
}